body{

    font-family:Arial;
    background:#f4f4f4;

}


#chat-container{

    width:400px;
    margin:30px auto;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,0.1);

}


#chat-header{

    background:#0f172a;
    color:white;
    padding:15px;
    font-size:20px;

}


#chat-messages{

    height:400px;
    overflow-y:auto;
    padding:15px;

}


.user-message{

    background:#2563eb;
    color:white;
    padding:10px;
    margin-bottom:10px;
    border-radius:10px;

}


.bot-message{

    background:#e5e7eb;
    padding:10px;
    margin-bottom:10px;
    border-radius:10px;

}


#chat-input-area{

    display:flex;

}


#message{

    flex:1;
    padding:10px;
    border:none;

}


button{

    padding:10px;
    border:none;
    cursor:pointer;

}


#suggestions{

    padding:10px;

}


#suggestions button{

    margin:5px;

}